<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="header__top">
                <div class="header__burger">
                    <div class="header__burger-item">
                        <span></span><span></span><span></span>
                    </div>
                    <p>menu</p>
                </div>
                <div class="header__logo">
                    <a target="_blank" href="https://www.google.com/"><img src="/images/logo.svg" alt=""></a>
                </div>
                <div class="header-actions">
                    <a target="_blank" href="https://www.google.com/" class="header-actions__item">
                        <div class="header-actions__icon">
                            <img src="images/news-icon.svg" alt="">
                        </div>
                        <div class="header-actions__text">newsletter</div>
                    </a>
                    <a target="_blank" href="https://www.google.com/" class="header-actions__item header-search">
                        <div class="header-actions__icon">
                            <img src="images/search-icon.svg" alt="">
                        </div>
                        <div class="header-actions__text">ricerca</div>
                    </a>
                </div>
            </div>
            <div class="header__bottom">
                <nav class="header__nav">
                    <ul>
                        <li>
                            <a target="_blank" href="https://www.google.com/">
                                Condizioni di salute A-Z
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.google.com/">
                                benessere
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.google.com/">
                                cibo e dieta
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.google.com/">
                                video
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.google.com/">
                                droga
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.google.com/">
                                notizie e avvisi
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.google.com/">
                                corsi di diploma
                            </a>
                        </li>
                        <li>
                            <a target="_blank" href="https://www.google.com/">
                                <img src="images/navs-icon.png" alt="">
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>