// ********************** Breakpoints ******************** //
:root {
    --black:#111;
    --blue:#006782;
    --gray-dark:#666666;
    --gray:#999999;
    --green:#058574;
    --lgray:#F2F2F2;
}


$mw-big: 1750px;
$mw: 1330px;




